/* the popup window */
.cc-window,
.cc-revoke {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box; /* exclude padding when dealing with width */

  font-family: 'Kanit', Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px; /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;

  display: flex;
  // flex-wrap: nowrap;
  flex-wrap: wrap; /** For wrapping the full-width powered-by message new row */

  /* the following are random unjustified styles - just because - should probably be removed */
  z-index: 9998;
}

.cc-powered-by {
  display: flex;
  width: 100%;
  font-size: 12px;
}

.cc-modal {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box; /* exclude padding when dealing with width */

  font-family: 'Kanit', Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px; /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;

  display: flex;
  flex-wrap: nowrap;

  /* the following are random unjustified styles - just because - should probably be removed */
  z-index: 9998;

  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-modal-bg {
  position: fixed;
  overflow: hidden;
  box-sizing: border-box; /* exclude padding when dealing with width */

  font-family: 'Kanit', Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px; /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;

  display: flex;
  flex-wrap: nowrap;

  /* the following are random unjustified styles - just because - should probably be removed */
  z-index: 9998;

  width: 100%;
  background: #000000;
  opacity: 0.3;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cc-window2 {
  overflow: hidden;
  box-sizing: border-box; /* exclude padding when dealing with width */

  font-family: 'Kanit', Helvetica, Calibri, Arial, sans-serif;
  font-size: 16px; /* by setting the base font here, we can size the rest of the popup using CSS `em` */
  line-height: 1.5em;

  //display: flex;
  flex-wrap: nowrap;
  width: 60%;

  /* the following are random unjustified styles - just because - should probably be removed */
  z-index: 9998;
}

.cc-revoke {
  z-index: 9999;
}

.cc-window.cc-static {
  position: static;
}

/* 2 basic types of window - floating / banner */
.cc-window.cc-floating {
  padding: 2em;
  max-width: 24em; /* 1em == 16px therefore 24em == 384px */
  flex-direction: column;
}
.cc-window.cc-banner {
  padding: 1em 1.8em;
  width: 100%;
  flex-direction: row;
}

.cc-revoke {
  padding: 0.5em;
}
.cc-revoke:hover {
  text-decoration: underline;
}

.cc-header {
  font-size: 18px;
  font-weight: bold;
}

/* clickable things */
.cc-btn,
.cc-link,
.cc-close,
.cc-revoke {
  cursor: pointer;
}

.cc-link {
  opacity: 0.8;
  display: inline-block;
  padding: 0.2em;
  text-decoration: underline;
}
.cc-link:hover {
  opacity: 1;
}
.cc-link:active,
.cc-link:visited {
  color: initial;
}

.cc-btn {
  display: block;
  padding: 0.4em 0.8em;
  font-size: 0.9em;
  font-weight: bold;
  border-width: 2px;
  border-style: solid;
  text-align: center;
  white-space: nowrap;
}

.cc-highlight .cc-btn:not(:last-child) {
  background-color: transparent;
  border-color: transparent;
}

.cc-highlight .cc-btn:not(:last-child):hover,
.cc-highlight .cc-btn:not(:last-child):focus {
  background-color: transparent;
  text-decoration: underline;
}

.cc-close {
  display: flex;
  justify-content: flex-end;
  font-size: 1em;
  opacity: 0.9;

  /* seeing as this contains text and not an image, the element taller than it is wide (because it is text) */
  /*  - we want it to be a square, because it's acting as an icon */
  /*  - setting the line height normalizes the height */
  line-height: 0.75;

  mix-blend-mode: luminosity;
}
.cc-close:hover {
  color: lightgray; /* เปลี่ยนสีของตัวอักษรเมื่อเอาเมาส์ชี้เป็นสีเทาอ่อน */
}
.cc-close:focus {
  opacity: 1;
}

.cross-mark {
  display: inline-block;
  width: 20px;
  position: relative;
  transform: rotate(45deg);
  opacity: 0.8;
}

.cross-mark::before,
.cross-mark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 2px;
  background-color: white; /* เปลี่ยนสีที่นี่ */
}

.cross-mark::before {
  transform: translate(-50%, -50%) rotate(90deg);
}

.cross-mark::after {
  transform: translate(-50%, -50%);
}